<div class="container">
  <h1>Projects</h1>
  <ul>

    <% @projects.each do |project| %>
        <li>
          <%= link_to project do %>
              <%=project.name%>
          <% end %>
        </li>
    <% end %>

  </ul>

</div>